<template>
	<div>

		<Menu></Menu>

		<main>
			<div class="pt-5 bg-white">
				<div class="container-fluid bg-dark text-light mb-5">
					<div class="container">
						<div class="row pt-5 pb-5">
							<div class="col-12 col-md-3 text-start">
								<br/><h3><strong>Order Summary</strong></h3>
							</div>
							<div class="col-12 col-md-3 text-start">
								<p><strong>Destinations</strong></p>
								<span class="badge bg-primary mx-2" v-for="item in orderCountries">{{ item }}</span>
							</div>
							<div class="col-12 col-md-3 text-start">
								<p><strong>Vehicles</strong></p>
								<span class="badge bg-primary mx-2" v-for="item in orderProducts">{{ item.type }} {{ item.reg }}</span>
							</div>
							<div class="col-12 col-md-3 text-end">
								<br/><strong>$ {{ totalPrice }}</strong> &nbsp; <button class="btn btn-primary" v-on:click="prepPayment()">Proceed to payment</button>
							</div>
						</div>
					</div>
				</div>
				<div class="container bg-white">
					<div class="row">
						<div class="col-12 col-md-4 text-start pb-5">
							<h3>Add your <strong>details</strong></h3>
						  <div class="mb-3">
						    <label for="email" class="form-label">Email address</label>
						    <input type="email" class="form-control" v-model="user.email">
						  </div>
						  <div class="mb-3">
						    <label for="mobile" class="form-label">Mobile Number</label>
						    <input type="phone" class="form-control" v-model="user.mobile">
						  </div>
							<div class="mb-3">
						    <label for="mobile" class="form-label">Company Name</label>
						    <input type="phone" class="form-control" v-model="user.companyName">
						  </div>
						</div>
						<div class="col-12 col-md-4 mb-5">
							<h3>Add <strong>vehicles</strong></h3>
							<label for="email" class="form-label">Vehicle type</label>
							<div class="mb-3">
								<select class="form-control" v-model="selectedProduct" required>
									<option>Add your vehicles</option>
									<option v-for="item in products.countries[0].prices">{{ item.vehicle }}</option>
								</select>
							</div>
							<div class="mb-3">
								<label for="mobile" class="form-label">Registration Number</label>
								<input type="phone" class="form-control" v-model="regNumber">
							</div>
							<div class="mb-3">
								<label for="mobile" class="form-label">VIN Number</label>
								<input type="phone" class="form-control" v-model="vinNumber">
							</div>
							<div class="mb-3">
								<label for="mobile" class="form-label">Chassis Number</label>
								<input type="phone" class="form-control" v-model="chassisNumber">
							</div>
							<button class="btn btn-primary" v-on:click="updateProducts()">Add vehicle</button>
						</div>
						<div class="col-12 col-md-4">
							<h3>Add <strong>destinations</strong></h3>
							<div class="mb-3">
								<label for="email" class="form-label">Enter your destinations below</label>
								<select class="form-control"v-model="selectedCountry">
									<option>Choose destination</option>
									<option v-for="item in products.countries">{{ item.name }}</option>
								</select>
							</div>
							<button class="btn btn-primary" v-on:click="updateCountries()">Add destination</button>
						</div>
					</div>
				</div>
			</div>
		</main>

		<div class="subfooter bg-black py-3 text-light text-muted text-center">
			<div class="container">
				<span><small>Indwe COMESA Yellow Card | All rights reserved © 2022 | Edit Cookie Preferences | <a href="privacy-policy">Privacy Policy</a></small></span>
			</div>
		</div>

	</div>
</template>

<script>
import Menu from '@/components/Menu.vue'
export default {
  name: 'Buy',
	computed: {
		totalPrice: function () {
			var price = 0
			for (var i = 0; i < this.orderCountries.length; i++) {
				for (var y = 0; y < this.products.countries.length; y++) {
					if (this.orderCountries[i] == this.products.countries[y].name) {
						for (var x = 0; x < this.products.countries[y].prices.length; x++) {
							for (var v = 0; v < this.orderProducts.length; v++) {
								if (this.orderProducts[v].type == this.products.countries[y].prices[x].vehicle) {
									var obj = {}
									obj['email'] = this.user.email
									obj['company'] = this.user.companyName
									obj['mobile'] = this.user.mobile
									obj['vehicle'] = this.orderProducts[v].type
									obj['vin'] = this.orderProducts[v].vin
									obj['chassis'] = this.orderProducts[v].chassis
									obj['reg'] = this.orderProducts[v].reg
									obj['country'] = this.orderCountries[i]
									obj['price'] = this.products.countries[y].prices[x].price
									price = price + this.products.countries[y].prices[x].price
									this.orderFinal.push (obj)
								}
							}
						}
					}
				}
			}
      return price
    }
  },
	methods: {
		updateCountries: async function () {
			this.orderCountries.push(this.selectedCountry)
			this.selectedCountry = ''
		},
		updateProducts: async function () {
			var obj = {}
			obj['vin'] = this.vinNumber
			obj['chassis'] = this.chassisNumber
			obj['reg'] = this.regNumber
			obj['type'] = this.selectedProduct
			this.selectedProduct = obj
			this.orderProducts.push(this.selectedProduct)
			this.selectedProduct = ''
		},
		prepPayment: async function () {
			var form = document.createElement('form')
			var cart = document.createElement('input')
			var total = document.createElement('input')

			cart.type = 'hidden'
			cart.name = 'cart'
			cart.value = JSON.stringify(this.orderFinal)
			form.appendChild(cart)

			total.type = 'hidden'
			total.name = 'total'
			total.value = JSON.stringify(this.totalPrice)
			form.appendChild(total)

			form.target = '_blank'
			form.method = 'POST'
			form.action = 'http://comesa.stratitude-develop.co.za/payments/payment-engine.php'
			form.style.display = 'none'

			document.body.appendChild(form)
			form.submit()
		}
	},
	data: function () {
		return {
			'user': {
				'companyName': '',
				'mobile': '',
				'email': ''
			},
			'vinNumber': '',
			'chassisNumber': '',
			'regNumber': '',
			'orderCountries': [],
			'orderProducts': [],
			'orderFinal': [],
			'selectedCountry': '',
			'selectedProduct': '',
			'products': {
				'countries': [
					{
						'name':'ZIMBABWE','prices': [
							{
								'vehicle':'Commercial Trucks - Non Fuel',
								'price':1992
							},
							{
								'vehicle':'Commercial Trailers - Non Fuel',
								'price':766
							},
							{
								'vehicle':'Commercial Trucks - Fuel',
								'price':2298
							},
							{
								'vehicle':'Commercial Trailers - Fuel',
								'price':1073
							},
							{
								'vehicle':'Busses',
								'price':3525
							},
							{
								'vehicle':'Busses - Commuter',
								'price':4904
							},
							{
								'vehicle':'Taxis',
								'price':2452
							},
							{
								'vehicle':'Private Cars',
								'price':920
							},
							{
								'vehicle':'Motorcycles',
								'price':766
							},
							{
								'vehicle':'Small Trailers',
								'price':310
							}
						]
					},
					{
						'name':'BURUNDI','prices': [
							{
								'vehicle':'Commercial Trucks - Non Fuel',
								'price':1992
							},
							{
								'vehicle':'Commercial Trailers - Non Fuel',
								'price':766
							},
							{
								'vehicle':'Commercial Trucks - Fuel',
								'price':2452
							},
							{
								'vehicle':'Commercial Trailers - Fuel',
								'price':920
							},
							{
								'vehicle':'Busses',
								'price':26514
							},
							{
								'vehicle':'Busses - Commuter',
								'price':9195
							},
							{
								'vehicle':'Taxis',
								'price':4904
							},
							{
								'vehicle':'Private Cars',
								'price':1226
							},
							{
								'vehicle':'Motorcycles',
								'price':460
							},
							{
								'vehicle':'Small Trailers',
								'price':383
							}
						]
					}
				]
			}
		}
	},
	components: {
		Menu
	}
}
</script>
