<template>
	<div>
		<Menu></Menu>
		<main>

			<div class="container-fluid pt-5" style="background: url('/img/panel2.jpg'); background-size: cover; height: 550px;">
				<div class="row">
					<div class="col-md-6 mx-0 text-start">

					</div>
				</div>
			</div>

			<div class="clients py-5" style=" background-color: #000;">
				<div class="container text-light" >
					<div class="row mt-3 mb-5">
						<div class="col-12 col-md-6 offset-md-3 text-center">
							<h3 class="mb-5"><strong>What is a COMESA <span style="color: #fbb040">Yellow Card?</span></strong></h3>
							<p class="text-light">The COMESA (Common Market for Eastern and Southern Africa) Yellow Card Scheme is essentially a regional third-party motor vehicle insurance scheme that aims to facilitate the smooth movement of motor vehicles, persons and goods in the region.</p>
							<p class="text-light">The Yellow Card provides third-party liability protection to the insured or the driver while in a foreign country. In addition it covers emergency medical expenses for the driver of a foreign vehicle, and their passengers, should they suffer any bodily injury as a result of a traffic accident.</p>
							<p class="text-light">As it is the equivalent of an insurance policy, the Yellow Card provides a compulsory minimum guarantee of compensation for third-party road accident victims, as required by the law in force in the territories visited or transitioning through.</p>
							<p class="text-light">The countries in which the Yellow Card is operational and recognised as a valid insurance cover are: Burundi, Democratic Republic of Congo, Djibouti, Eritrea, Ethiopia, Kenya, Malawi, Rwanda, Sudan, Tanzania, Uganda, Zambia and Zimbabwe. The scheme has been expanded to the SADC (Southern African Development Community) region under a special business to business arrangement.</p>
							<p class="text-light">Over 180 insurance companies in the COMESA region are involved in the issuance of Yellow Cards and operations of the scheme.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="services py-5 bg-dark">
				<div class="container text-light" >
					<div class="row mt-3 mb-5">
						<div class="col-12 text-center">
							<h3 class="mb-5"><strong>How does it <span style="color: #fbb040">work?</span></strong></h3>
						</div>
						<div class="col-6 text-center rounded bg-dark">
							<h1><i class="bi bi-file-person"></i></h1>
							<p class="text-light">Step 1. Enter your personal details</p>
							<h1><i class="bi bi-truck"></i></h1>
							<p class="text-light">Step 2. Enter your vehicle and journey details</p>
						</div>
						<div class="col-6 text-center">
							<h1><i class="bi bi-credit-card"></i></h1>
							<p class="text-light">Step 3. Complete payment</p>
							<h1><i class="bi bi-collection"></i></h1>
							<p class="text-light">Step 4. Collect your Yellow Card at the border kiosk.</p>
						</div>
					</div>
					<div class="row mt-3 py-5">
						<div class="col-md-12 text-center">
							<a class="btn btn-primary" href="contact" role="button">Buy now</a>
						</div>
					</div>
				</div>
			</div>

		</main>

		<div class="subfooter bg-black py-3 text-light text-muted text-center">
			<div class="container">
				<span><small>Indwe COMESA Yellow Card | All rights reserved © 2022 | Edit Cookie Preferences | <a href="privacy-policy">Privacy Policy</a></small></span>
			</div>
		</div>

	</div>
</template>

<script>
import Menu from '@/components/Menu.vue'

export default {
  name: 'Home',
	components: {
		Menu
	}
}
</script>
