<template>
	<div>
		<header>
		  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
		    <div class="container">
					<img src="/img/comesa-logo.png" style="width: 150px;">
		      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="navbar-toggler-icon"></span>
		      </button>
		      <div class="collapse navbar-collapse " id="navbarNavDropdown">
		        <ul class="navbar-nav ms-auto">
		          <li class="nav-item">
		            <a class="nav-link" href="buy"><strong>Buy now</strong></a>
		          </li>
							<li class="nav-item">
		            <a class="nav-link" href="index">Need help?</a>
		          </li>
							<li class="nav-item">
		            <a class="nav-link" href="index">Contact us</a>
		          </li>
		        </ul>
		      </div>
		    </div>
		  </nav>
		</header>
	</div>
</template>
<script>
import axios from 'axios'
export default {
  name: 'Footer',
	data() {
		return {
			blankVariable: ''
		}
	},
	methods: {
		blank: function () {

		}
	}
}
</script>
<style scoped>
.error {
	font-size: 10px;
	font-weight: bold;
	color: red;
}
.success {
	font-size: 10px;
	font-weight: bold;
	color: green;
}
.form-label-group input {
  display: none;
}
</style>
