<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>{{ title }}</title>
    <!-- use triple mustache for non-HTML-escaped -->
    {{{ meta }}}
</head>
<body>
    {{{ renderState() }}}
    {{{ renderScripts() }}}
</body>
</html>
